.navbar1 {
    position: fixed; 
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 1rem 2rem;
   background: #44cdfb; 
  }
  
  .navbar1 .navbar-brand {
    color: #ffffff !important;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
  }
  
  .navbar1 .nav-link {
    color: #ffffff !important;
    margin-left: 20px;
    font-weight: bold;
  }
  
  .navbar1 .nav-link:hover {
    color: #feee3f !important;
    text-decoration: underline;
  }
  